<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="style.css">
    <title>MaxCoach</title>
</head>

<body>
    <div id="app">
        <!-- inizio header  -->
        <header>
            <div class="headerLeft">
                    <img src="img/dark-logo.png" alt="">
            </div>
            <div class="headerCenter">
                    <ul>
                        <li v-for="menuVoice in headerCenterMenu">{{ menuVoice }} <i class="fas fa-angle-down"></i></li>
                    </ul>
            </div>
            <div class="headerRight">
                    <ul> 
                        <img src="img/en.png" alt=""> english <i class="fas fa-angle-down"></i>
                        <!-- <li v-for="element in languages"><img :src="element.flag" alt="">{{ element.name }}</li> -->
                    </ul>
                    <div id="search">
                        <input type="text">
                        <i class="fas fa-search"></i>
                    </div>
            </div>              
        </header>
        <main>
            <div id="jumbotron">
                <div class="wrapper70">
                    <div id="leftJumbotron">
                        <div>
                            <h4 class="boldGreenText">New Challanges, New Skills</h4>
                            <h1 class="uppercased tripleSize bold">build your own life coaching business</h1>
                            <p class="smallGreyText">Whole-Life Business Coaching for committed entrepreneurs</p>
                            <button class="bigButton greenButton">Get started today</button>
                        </div>
                    </div>
                    <div id="rightJumbotron">
                        <img src="img/home-business-hero-avatar.png" alt="">
                    </div>
                </div>
                
            </div>
            <div id="pioneers">
                <div class="wrapper70 flexColumnCenter">
                    <h4>let's dream big together</h4>
                    <h2>We are pioneers of the digital approach, using leading-edge technology to simplify procedures and apply executive coaching in the new age of digitalization.</h2>
                    <div class="contents">
                        <div class="content clearfix" v-for="element in pioneersContents" >
                            <img src="img/maxcoach-shape-02.png" alt="">
                            <div>
                                <h3 class="capitalized">{{ element.title }}</h3>
                                <p class="smallGreyText">{{ element.text }}</p>
                            </div>
                        </div>                       
                    </div>
                    <div>
                        <button class="bigButton whiteButtonOnWhiteBack">Learn more</button>
                        <button class="bigButton greenButton">Get started today</button>
                    </div>    
                </div>
            </div>
            <div id="explore">
                <div class="wrapper70 flexColumnCenter clearfix">
                    <h4>let's dream big together</h4>
                    <h2>Explore how can I help you</h2>
                    <div class="contents">
                        <div class="content" v-for="element in exploreContents">
                            <img :src="element.image" alt="">
                            <h3 class="capitalized">{{ element.title }}</h3>
                            <p class="smallGreyText">{{ element.text }}</p>
                            <div class="discover"><p class="smallerSize greenText bold">Discover now</p></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div id="courses">
                <div class="wrapper70 flexColumnCenter clearfix">
                    <h4 class="capitalized greenText">let's dream big together</h4>
                    <h2>Explore how can I help you</h2>
                    <div class="contents">
                        <div class="content">
                            <h4 class="greenText bold blackShadow">$40.00</h4>
                            <h4 class="whiteText">learning to write as a professional author</h4>
                        </div>
                        <div class="content">
                            <h4 class="greenText bold blackShadow">Free</h4>
                            <h4 class="whiteText">customer-centric info-tech strategies</h4>
                        </div>
                        <div class="content">
                            <h4 class="greenText bold blackShadow">$19.00</h4>
                            <h4 class="whiteText">open programming courses for veryone: python</h4>
                        </div>
                        <div class="content">
                            <h4 class="greenText bold blackShadow">$26.00</h4>
                            <h4 class="whiteText">academic listing and note-taking</h4>
                        </div>
                    </div>
                </div>
                <p class="greyText">Take the control of their life back and start doing things to make their <br> dream come true. <span class="bold">View all courses <i class="fas fa-arrow-right"></i></span>  </p>
            </div>
            <!-- <div id="presentation">
                <div class="wrapper70 clearfix">
                    <div id="presentationLeft">
                        <div class="clearfix"><img src="img/home-business-video-poster-670x450.jpg" id="mainImg"></div>
                        <img src="img/icon-youtube-play.png" id="youtubeImg">
                    </div>
                    <div id="presentationRight">
                        <h2 class="capitalized whiteText">to thrive in business today, you'll need a good plan</h2>
                        <div class="content clearfix justify" v-for="element in presentationContents">
                            <div class="whiteText doubleSize"><i :class="caret" @click="showPresentationText(element)"></i></div>
                            <div>
                                <h3 class="greenText">{{ element.title }}</h3>
                                <p class="whiteText smallerSize" id="presentationText">{{ element.text }}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div> -->
            <div id="presentation">
                <div class="wrapper70 clearfix">
                    <div id="presentationLeft">
                        <div class="clearfix  relative"><img src="img/home-business-video-poster-670x450.jpg" id="mainImg"><img src="img/icon-youtube-play.png" id="youtubeImg"></div>
                        
                    </div>
                    <div id="presentationRight">
                        <h2 class="capitalized whiteText">to thrive in business today, you'll need a good plan</h2>
                        <div class="content clearfix justify" v-for="(element, index) in presentationContents">
                            <div class="whiteText doubleSize"><i :class="caret" @click="showPresentationText(index)"></i></div>
                            <div>
                                <h3 class="greenText">{{ element.title }}</h3>
                                <p class="whiteText smallerSize" v-if="presentationText">{{ element.text }}</p>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
            <div id="events">
                <div class="wrapper70 flexColumnCenter clearfix">
                    <h4 class="capitalized greenText">wanna tranform your life?</h4>
                    <h2>Upcoming Events</h2>
                    <div class="contents clearfix">
                        <div class="content" v-for="element in eventsContents">
                            <div>
                                <p class="smallGreyText capitalized"><i class="fas fa-map-marker-alt"></i> {{ element.place }}, <span class="uppercased">{{ element.state }}</span> </p>
                                <h4 class="capitalized bold">{{ element.title }}</h4>
                            </div>
                            <div class="textCenter">
                                <p class="greenText doubleSize">{{ element.day }}</p>
                                <h4 class="uppercased">{{ element.month }}</h4>
                                <button class="bigButton greenButton">Get ticket</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="greyText">Excited about our new event? <span class="bold greenText">View all events <i class="fas fa-arrow-right"></i></span> </p>
            </div>
            <div id="reviews">
                <div class="wrapper70 flexColumnCenter clearfix">
                    <h4 class="capitalized greenText">people are prasing Maxcoach</h4>
                    <h2>What make they love us?</h2>
                    <div class="contents">
                        <div class="content" v-for="element in reviewsContents">
                            <h4 class="bold blueText">{{ element.title }}</h4>
                            <p class="smallerSize justify">{{ element.text }}</p>
                            <div>
                                <img :src="element.profilePic" alt="">
                                <div>
                                    <p class="capitalized blueText">{{ element.name }}</p>
                                    <p class="capitalized smallGreyText">/ {{ element.occupation }}</p>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
            <div id="subscribe">
                <div class="wrapper70 flexColumnCenter clearfix">
                    <div class="contents clearfix">
                        <img src="img/maxcoach-shape-02.png" alt="">
                        <div class="content flexColumnCenter">
                            <div class="capitalized bold">
                                <h2 class="bold">subscribe</h2>
                                <h2 class="greenText thin">newsletters</h2>
                            </div>
                            <p class="greyText">Enter your email address to register to our newsletter subscription delivered on a regular basis!</p>
                            <div id="subscriptionField">
                                <input type="text" placeholder="Enter your email"><button class="greenButton">Subscribe</button>
                            </div>
                        </div>
                        <img src="img/maxcoach-shape-02.png" alt="">
                    </div>
                    
                </div>
            </div> 
        </main>
        <footer>
            <div class="wrapper70">
                <div id="footerLeft" >
                    <h4>Address</h4>
                    <ul v-for="element in footerAddressContents">
                        <li>{{ element.address }}</li>
                        <li>{{ element.phone }} {{ element.opening }}</li>
                        <li>{{ element.email }}</li>
                        <li>
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin"></i>
                        </li>
                    </ul>
                </div>
                <div id="footerRight">
                    <div>
                        <h4>Explore</h4>
                        <ul>
                            <li v-for="element in footerExploreContents">{{ element }}</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Information</h4>
                        <ul>
                            <li v-for="element in footerInformationContents">{{ element }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        

        <!-- fine header -->









    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js"></script>
</body>

</html>