* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
/* regole e classi generiche */
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button, li, i {
    cursor: pointer;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.wrapper70 {
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid red; */
}
/* .contents {
    border: 3px solid rgb(255, 0, 255);
}
.content {
    border: 1px solid lime;
} */
.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.relative {
    position: relative;
}
.capitalized {
    text-transform: capitalize;
}
.uppercased {
    text-transform: uppercase;
}
.tripleSize {
    font-size: 3em;
}
.doubleSize {
    font-size: 1.5em;
}
.smallerSize {
    font-size: 0.9em;
}
.bold {
    font-weight: bold;
}
.textCenter {
    text-align: center;
}
.blackShadow {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.justify {
    text-align: justify;
    text-justify: inter-word;
}
.smallGreyText {
    font-size: 0.9em;
    color: grey;
}
.boldGreenText {
    font-weight: bold;
    color: #1eae96;
}
.greenText {
    color: #1eae96;
}
.whiteText {
    color: white;
}
.greyText {
    color: grey;
}
.blueText {
    color: #343142;
}
.bigButton {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}
.greenButton {
    border: 1px solid #1eae96;
    background-color: #1eae96;
    color: white;
}
.whiteButton {
    border: 1px solid white;
    background-color: white;
    color: #1eae96;
}
.whiteButtonOnWhiteBack {
    border: 1px solid #bcbcbc;
    background-color: white;
    color: #1eae96;
}
/* fine regole e classi generiche */
.discover p, #courses .content, #presentationLeft #youtubeImg, #courses > p > span {
    cursor: pointer;
}
/* header */
header {
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    box-shadow: inset 0px -5px 10px 2px rgba(112, 112, 112, 0.1);
}
main {
    padding-top: 10vh;
}
.headerLeft, .headerRight {
    width: 20%;
    /* border: 1px solid black;  */
}
.headerLeft > img {
  width: 150px;
}
.headerRight  img, .headerRight ul i, .headerCenter ul i {
  margin: 5px;
}
.headerCenter {
    width: 40%;
    /* border: 1px solid black; */
}
.headerCenter ul, .headerRight, .headerRight ul, .headerRight #search {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#search input {
    height: 7vh;
    border: 1px solid white;
    padding: 5px 5px;
    border-left: 1px solid #bcbcbc;
}
/* fine header */
/* inizio main */
/* inizio jumbotron */
#jumbotron {
    width: 100%;
    height: 80vh;
    background-image: url(img/home-business-hero-global-image.png);
    background-color: #eceeef;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    display: flex;
    /* border: 5px solid lime; */
}
#jumbotron .wrapper70 {
    display: flex;
}
#leftJumbotron, #rightJumbotron  {
    width: 50%;
    /* border: 1px solid black; */
}
#leftJumbotron {
    display: flex;
    align-items: center;
}
#leftJumbotron * {
    margin: 20px 0;
}
#leftJumbotron > div {
    width: 80%;
    /* border: 1px solid black; */
}
#rightJumbotron > img {
    height: 90%;
    width: 80%;
}
#rightJumbotron {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/* fine jumbotron */
/* inizio pioneers */
#pioneers, #events {
    width: 100%;
    height: 90vh;
    margin: 5vh 0;
}
#pioneers .wrapper70, #events .wrapper70  {
    height: 100%;
}
#pioneers h4, #explore h4 {
    color: #1eae96;
    text-transform: capitalize;
}
#pioneers h2, #explore h2, #courses h2, #events h2, #reviews h2 {
    width: 60%;
    font-weight: bold;
    text-align: center;
}
#pioneers .wrapper70 .contents, #explore .wrapper70 .contents, #courses .wrapper70 .contents, #events .wrapper70 .contents, #reviews .wrapper70 .contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#pioneers .content {
    width: 30%;
    height: 45%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: justify;
}
#pioneers .content img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    z-index: 0;
}
#pioneers button {
    margin: 0 20px;
}
/* fine pioneers */
/* inizio explore */
#explore {
    width: 100%;
    height: 90vh;
    background-color: #eceeef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid lime; */
}
#explore .wrapper70 {
    height: 90%;
}
#explore .content {
    width: 25%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
#explore .content img {
    width: 100%;
}
#explore .discover {
    height: 5vh;
    padding: 0 10px;
    border-top: 1px solid #bcbcbc;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* fine explore */
/* inizio courses */
#courses {
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid lime; */
}
#courses .wrapper70 {
    height: 90%; 
}
#courses .content {
    width: 22%;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: capitalize;
    box-shadow: inset 0px -40px 40px 10px rgba(0, 0, 0, 0.6);
    
}
#courses .content h4 {
    margin-top: 20px;
}
#courses .content:nth-child(1) {
    background-image: url(img/course-02-443x600.jpg);
}
#courses .content:nth-child(2) {
    background-image: url(img/stock-full-hd-03-443x600.jpg);
}
#courses .content:nth-child(3) {
    background-image: url(img/stock-full-hd-04-443x600.jpg);
}
#courses .content:nth-child(4) {
    background-image: url(img/stock-full-hd-06-443x600.jpg);
}
#courses > p, #events > p {
    padding: 10px 0;
    text-align: center;
}
/* fine courses */
/* inizio presentation */
#presentation {
    width: 100%;
    height: 90vh;
    background-color: #343142;
    background-image: url(img/background-map-dots-top-right-transparent.png);
    background-size: 120vh;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#presentation .wrapper70 {
    height: 80%;
    display: flex;
}
#presentationLeft, #presentationRight {
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
}
#presentationLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}
#presentationLeft > div {
    width: 80%;
    height: 55%;
}
#presentationLeft #mainImg {
    width: 100%;
}
#presentationLeft #youtubeImg {
    width: 5%;
    z-index: 999;
    position: absolute;
}
/* #presentationRight * {
    border: 1px solid white;
} */
#presentationRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#presentationRight h2 {
    width: 50%;
    margin-bottom: 20px;
}
#presentationRight .content h3 {
    margin-bottom: 10px;
}
#presentationRight .content {
    width: 80%;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #bcbcbc;
}
#presentationRight .content > div {
    padding-right: 50px;
}
/* fine presentation */
/* inizio events */
#events .content {
    width: 48%;
    background-color: #eceeef;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 10px 10px;
}
#events .content p, #events .content h4, #events .content {
    margin-bottom: 15px;
}
/* fine events */
/* inizio reviews */
#reviews {
    width: 100%;
    height: 60vh;
    background-color: #eceeef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid lime; */
}
#reviews .wrapper70 {
    height: 90%;
}
#reviews .content {
    width: 32%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 20px;
}
#reviews .content > div {
    display: flex;
}

#reviews .content > div > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#reviews .content > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

/* fine reviews */











/* fine main */






