* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background-color: lightgrey;
}
.wrapper90{
    width: 90%;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 10vh;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerLeft, .headerRight {
    width: 20%;
    /* border: 1px solid black; */
}
.headerLeft, .headerCenter, .headerRight {
    text-transform: capitalize;
}
.headerLeft > img {
  width: 150px;
}
.headerRight  img, .headerRight ul i {
  margin: 5px;
}
.headerCenter {
    width: 50%;
    /* border: 1px solid black; */
}
.headerCenter ul, .headerRight, .headerRight ul, .headerRight #search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search input {
    height: 10vh;
    border: 1px solid white;
    padding: 5px 5px;
    border-left: 1px solid #bcbcbc;
}






